

    <div class="col-ms-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar7.png"
              alt="Admin"
              class="rounded-circle"
              width="150"
            />
          </div>
        </div>
      </div>
      
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="navigatedF()"
        >
          Navigate
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div>
            <ul>
              <a (click)="navigatedF()" [routerLink]="['/users']">
                <li>Navigate People</li>
              </a>
              <a (click)="navigatedF()" [routerLink]="['/profile']">
                <li>My Profile</li>
              </a>
              <a (click)="navigatedF()" [routerLink]="['/setting']">
                <li>Setting</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="card-image" *ngIf="navigated">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              src="assets\img\expresschat-blue-violet-small.png"
              alt="Admin"
              width="250"
              height="60"
            />
          </div>
        </div>
      </div>