<div>
  <div class="col-sm-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="overflow-auto" >
    <div class="col-sm-9">
      <link
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
      />
      <div class="card chat-app" >
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <a
                  href="javascript:void(0);"
                  data-toggle="modal"
                  data-target="#view_info"
                >
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                    alt="avatar"
                  />
                </a>
                <div class="chat-about">
                  <h6 class="m-b-0">{{ friend.userName }}</h6>
                </div>
              </div>
              <div class="col-lg-6 hidden-sm text-right">
                <a href="javascript:void(0);" class="btn btn-outline-secondary"
                  ><i class="fa fa-camera"></i
                ></a>
                <a href="javascript:void(0);" class="btn btn-outline-primary"
                  ><i class="fa fa-image"></i
                ></a>
                <a href="javascript:void(0);" class="btn btn-outline-info"
                  ><i class="fa fa-cogs"></i
                ></a>
                <a href="javascript:void(0);" class="btn btn-outline-warning"
                  ><i class="fa fa-question"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="chat-history" style="overflow:scroll; height:500px;">
            <ul *ngFor="let msg of myMsg" class="m-b-0">
              <li *ngIf="msg.type == 's'"  class="clearfix">
                <div >
                  <div class="message-data text-right">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar7.png"
                      alt="avatar"
                    />
                  </div>
                  <div class="message other-message float-right">
                    {{ msg.messege }}
                  </div>
                </div>
              </li>
              <li  *ngIf="msg.type == 'r'"  class="clearfix">

                  <div class="message my-message">{{ msg.messege }}</div>

              </li>
            </ul>
          </div>
          <div class="chat-message clearfix">
            <div class="input-group mb-0">
              <div class="input-group-prepend"></div>
              <input
                type="text"
                class="form-control"
                placeholder="Enter text here..."
                [(ngModel)]="messege"
              />

              <button class=".btn" (click)="send()">
                <span class="input-group-text"><i class="fa fa-send"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
